<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script src="/static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/static/js/popper.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/my_js.js" type="text/javascript"></script>
        <title>Семейный бюджет</title>
</head>

<body>
    <h1><div align=" center ">
        <div style="color:darkviolet">
              {% if flag %}
              Бюджет {{ name }}
                  <p> </p>
              {% else %}
              Семейный бюджет
              {% endif %}
        <h2> <div align=" center ">
            <div style="color:darkorange">
            Следите за своими финансами!
        </div> </h2>
</div>
    </div></h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <div class="card card-body bg-light">
          <a href="show_categories" button type="button" class="btn btn-warning" id="add2">Добавить новый тип расхода/дохода </a></button>
          <div align=" center " size="+2"><b>Расходы</b></div>
          <table border="1" id="flow_table">
              <tr>
              <td><b>Сумма, руб</b></td>
              <td><b>Тип</b></td>
              <td><b>Описание</b></td>
              <td><b>Дата</b></td>
              </tr>

              {%for flow in flows%}
              <tr style="background-color:
                      {% if flow.sum <= 0%}
                      #FFD5D5
                  {% else %}
                   #D5FFD6
                       {% endif %}
                      ">
                  <td> {% if flow.sum <= 0 %}
                  {{ flow.sum|stringformat:"+d"|slice:"1:" }}
                      {% else %}
                      {{ flow.sum }}
                      {% endif %}

                  </td>
                  <td> {{flow.type_id.type_name}} </td>
                  <td> {{flow.description}} </td>
                  <td> {{flow.date}} </td>

              </tr>
              {% endfor %}
          </table>

      </div>
        <p> </p>
        <div align=" center ">
            <button type="button" class="btn btn-success" id="add1">Добавить расход или доход</button>

    </div>


  <form method="post" action="/add_new_flow_of_funds" id="add_flow_table" style="display: none">

  <div class="form-group">
    <label for="formGroupExampleInput">Сумма</label>
    <input type="text" class="form-control" placeholder="Введите сумму" name="flow_sum" >
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Тип расхода/дохода</label>
      <select class="custom-select" name="choise_of_expenses" id="inputGroupSelect01" aria-label="Выберите тип расхода">
          {% for cat in categories %}
    <option selected>{{ cat.type_name }}</option>
          {% endfor %}
  </select>


  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Описание</label>
    <input type="text" class="form-control" placeholder="комментарии" name="flow_description" >
  </div>

    <div class="form-group">
    <label for="formGroupExampleInput">Дата</label>
    <input type="date" class="form-control" placeholder="гггг-мм-чч или оставьте поле пустым для текущей даты" name="flow_date" >
  </div>

    <button type="submit" class="btn btn-primary" id="add_flow"> Добавить расход/доход </button>
</form>

  </div>

    <div class="col-4">
      <div class="card card-body bg-light">
        <div align=" center "><b>Запланированные расходы</b></div>
          <table border="1">
              <tr>
              <td><b>Тип</b></td>
              <td><b>План</b></td>
              <td><b>Потрачено</b></td>
              <td><b>Остаток</b></td>
              </tr>
              {% for plan in plans %}
              <tr>
              {% for ls in plan %}
              <td style="background-color:
                      {% if ls < 0%}
                      #FFFF00
                      {% endif %}
                  ">
                  {{ ls }}
              </td>
                  {% endfor %}
              </tr>
              {% endfor %}


          </table>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-body bg-light">

<div align="right", style="color:red">
              {% if flag == True %}
              Привет, {{ name }}!
                  <p> </p>
              {% else %}
              Вы не зарегистрированы на сайте.
              {% endif %}
</div>

          <table>
              <tr>
              <td>Остаток денег:</td>
              <td>{{ money }}</td>
              </tr>
              <tr>
              <td>Дней до зарплаты:</td>
              <td>{{ delta}}</td>
              </tr>
               <tr>
              <td>Накопления на счете:
              <table>
                  <tr>
                      <td><b>{{sum_euro}}</b></td>
                  <td> Евро</td>
                  </tr>
                  <tr>
                      <td><b>{{sum_dollars}}</b></td>
                  <td> Долларов</td>
                  </tr>
              </table>
              </td>
              </tr>

          </table>
      </div>
        <p> </p>
    {% if flag == True %}
    <a href="success_logout" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Выйти из аккаунта</a>
        <p> </p>
        <a href="user_settings" class="btn btn-secondary" role="button" aria-pressed="true" id="settings"> Настройки </a>
        <a href="show_details_form" class="btn btn-info" role="button" aria-pressed="true">Выгрузить отчет</a>
    {% else %}
    <a href="login_form" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Войти в аккаунт</a>
        <a href="registration_form" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Зарегистрироваться</a>
    {% endif %}

    </div>
  </div>
</div>
</body>
</html>