старая версия:
{% extends 'common.html' %}
{% block content_1 %}
Регистрация нового пользователя
{% endblock %}
{% block content_2 %}
<form method="post" action="/register">
{% endblock %}
{% block content_3 %}
 <div class="form-group">
    <label for="formGroupExampleInput">E-mail</label>
    <input type="text" class="form-control" placeholder="Введите свой e-mail" name="email" >
  </div>
{% endblock %}
{% block content_4 %}
<button type="submit" class="btn btn-primary" id="reg1"> Завершить регистрацию </button>
{% endblock %}


новая версия:
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    Регистрация нового пользователя
    </title>

</head>
<body>

<form method="post" action="/register">
  <div class="form-group">
    <label for="formGroupExampleInput">Имя пользователя</label>
    <input type="text" class="form-control" placeholder="Введите имя пользователя" name="username" >
  </div>
 <div class="form-group">
    <label for="formGroupExampleInput">E-mail</label>
    <input type="text" class="form-control" placeholder="Введите свой e-mail" name="email" >
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Пароль</label>
    <input type="password" class="form-control" placeholder="Введите пароль" name="password">
  </div>
     <button type="submit" class="btn btn-primary"> Завершить регистрацию </button>
</form>

</body>
</html>





