<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% block content_1 %} {% endblock %}
    </title>

</head>
<body>

{% block content_2 %} {% endblock %}
  <div class="form-group">
    <label for="formGroupExampleInput">Имя пользователя</label>
    <input type="text" class="form-control" placeholder="Введите имя пользователя" name="username" >
  </div>
{% block content_3 %} {% endblock %}
  <div class="form-group">
    <label for="formGroupExampleInput2">Пароль</label>
    <input type="password" class="form-control" placeholder="Введите пароль" name="password">
  </div>
     {% block content_4 %} {% endblock %}
</form>
</body>
</html>
