<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script src="/static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/static/js/popper.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/my_js.js" type="text/javascript"></script>
        <title>Семейный бюджет</title>
</head>

<body>
    <h1><div align=" center ">
        <div style="color:darkviolet">
              {% if flag == True %}
              Бюджет {{ name }}
                  <p> </p>
              {% else %}
              Семейный бюджет
              {% endif %}
        <h2> <div align=" center ">
            <div style="color:darkorange">
            Следите за своими финансами!
        </div> </h2>
</div>
    </div></h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <div class="card card-body bg-light">
          <a href="show_categories" button type="button" class="btn btn-warning" id="add2">Добавить новый тип расхода/дохода </a></button>
          <div align=" center " size="+2"><b>Расходы</b></div>
          <table border="1" id="flow_table">
              <tr>
              <td><b>Сумма, руб</b></td>
              <td><b>Тип</b></td>
              <td><b>Описание</b></td>
              <td><b>Дата</b></td>
              </tr>

              {%for flow in flows%}


              <tr style="background-color:
                      {% if flow.is_it_expense == True%}
                      #FFD5D5
                  {% else %}
                   #D5FFD6
                       {% endif %}
                      ">
                  <td> {{flow.sum}} </td>
                  <td> {{flow.type_id.type_name}} </td>
                  <td> {{flow.description}} </td>
                  <td> {{flow.date}} </td>

              </tr>
              {% endfor %}
          </table>

      </div>
        <p> </p>
        <div align=" center ">
            <button type="button" class="btn btn-success" id="add1">Добавить расход или доход</button>

    </div>


  <form method="post" action="/add_new_flow_of_funds" id="add_flow_table" style="display: none">

  <div class="form-group">
    <label for="formGroupExampleInput">Сумма</label>
    <input type="text" class="form-control" placeholder="Введите сумму" name="flow_sum" >
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Тип расхода/дохода</label>
    <input type="text" class="form-control" name="flow_type_choise" placeholder="Введите тип расхода/дохода">

  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Описание</label>
    <input type="text" class="form-control" placeholder="комментарии" name="flow_description" >
  </div>

    <div class="form-group">
    <label for="formGroupExampleInput">Дата</label>
    <input type="date" class="form-control" placeholder="гггг-мм-чч или оставьте поле пустым для текущей даты" name="flow_date" >
  </div>

      <div class="form-group">
    <label for="formGroupExampleInput">Это расход или доход?</label>
    <input type="text" class="form-control" placeholder="поставьте - для расхода или + для дохода" name="expense_or_income" >
  </div>

    <button type="submit" class="btn btn-primary" id="add_flow"> Добавить расход/доход </button>
</form>

  </div>

    <div class="col-4">
      <div class="card card-body bg-light">
        <div align=" center "><b>Запланированные расходы</b></div>
          <table border="1">
              <tr>
              <td><b>Тип</b></td>
              <td><b>План</b></td>
              <td><b>Потрачено</b></td>
              <td><b>Остаток</b></td>
              </tr>
              <tr>
              <td>Мероприятия</td>
              <td>150</td>
              <td>70</td>
              <td>80</td>
              </tr>
               <tr>
              <td>Еда</td>
              <td>500</td>
              <td>139</td>
              <td>361</td>
              </tr>
                 <tr>
              <td>Одежда</td>
              <td>100</td>
              <td>80</td>
              <td>20</td>
              </tr>
              <tr>
              <td>Алкоголь</td>
              <td>50</td>
              <td>10</td>
              <td>40</td>
              </tr>
              <tr>
              <td>Коты</td>
              <td>50</td>
              <td>50</td>
              <td>0</td>
              </tr>
              <tr>
              <td>Лекарства</td>
              <td>50</td>
              <td>21</td>
              <td>29</td>
              </tr>

          </table>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-body bg-light">

<div align="right", style="color:red">
              {% if flag == True %}
              Привет, {{ name }}!
                  <p> </p>
              {% else %}
              Вы не зарегистрированы на сайте.
              {% endif %}
</div>

          <table>
              <tr>
              <td>Остаток денег:</td>
              <td>{{ money }}</td>
              </tr>
              <tr>
              <td>Дней до зарплаты:</td>
              <td>25</td>
              </tr>
               <tr>
              <td>Накопления на счете:
              <table>
                  <tr>
                      <td><b>250</b></td>
                  <td> Евро</td>
                  </tr>
                  <tr>
                      <td><b>500</b></td>
                  <td> Долларов</td>
                  </tr>
              </table>
              </td>
              </tr>

          </table>
      </div>
        <p> </p>
    {% if flag == True %}
    <a href="success_logout" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Выйти из аккаунта</a>
    {% else %}
    <a href="login_form" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Войти в аккаунт</a>
        <a href="registration_form" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Зарегистрироваться</a>
    {% endif %}

    </div>
  </div>
</div>
</body>
</html>